.navbar {
    background-image: url(../../../../src/assets/images/banner.jpg);
    box-shadow: 0 1px 5px #000000ff;
    transition: top 0.3s ease;
    transition: bottom 0.3s ease;
    display: none;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: block;
    }
  }