<nav class="navbar sticky-top">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand" href="#">
            <img src="../../../favicon.ico" width="59" alt="">
        </a>
        <button class="bg-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="page-tab" routerLinkActive="active" routerLink="/home" ariaCurrentWhenActive="page" title="Home">
                    <div><i class="fa-solid fa-home fa-lg"></i> Home</div>
                </li>
                <li class="page-tab" routerLinkActive="active" routerLink="/browse" ariaCurrentWhenActive="page" title="Browse">
                    <div><i class="fa-solid fa-magnifying-glass fa-lg"></i> Browse
                    </div>
                </li>
                <li class="page-tab" routerLinkActive="active" routerLink="/share" ariaCurrentWhenActive="page"  title="Share a Recipe">
                    <div><i class="fa-solid fa-plus fa-xl"></i> Share</div>
                </li>
                <li class="page-tab" routerLinkActive="active" routerLink="/yourShares" ariaCurrentWhenActive="page"  title="Your Shares">
                    <div><i class="fa-solid fa-person-circle-plus fa-xl"></i> Your Shares</div>
                </li>
                <li class="page-tab" routerLinkActive="active" routerLink="/favorites" ariaCurrentWhenActive="page" title="Your Favorites">
                    <div><i class="fa-solid fa-heart fa-lg"></i> Favorites</div>
                </li>
                <li class="page-tab">
                    <div *ngIf="!loginDisplay" (click)="login()" title="Login">
                        <i class="fa-solid fa-arrow-right-to-bracket fa-lg" style="color: #85ca7b;"></i>
                        Login
                    </div>
                    <div *ngIf="loginDisplay" (click)="logout()" title="Logout">
                        <i class="fa-solid fa-arrow-right-to-bracket fa-lg" style="color: #f85a5a;"></i>
                        Logout
                    </div>
                </li>
                <li class="page-tab" *ngIf="loginDisplay" (click)="editProfile()" title="Edit Profile">
                    <div>
                        <i class="fa-solid fa-pen-to-square" style="color: #ef8f4a;"></i>
                            Edit Profile
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>