.navbar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #ec261085 70%);
  box-shadow: 0 1px 5px #000000ff;
  transition: top 0.3s ease;
  display: none;
}

@media (max-width: 767px) {
  .navbar {
    display: block;
  }
}


.page-tab {
  padding: 10px;
  margin: 10px;
  background-color: #ffff;
  border-radius: 8px;
  cursor: pointer;
}

.page-tab:hover {
  background-color: #69dada87;
  /* Change background color to white on hover */
}

.active {
  background-color: #69dada87;
}