<div class="row row-cols-1 row-cols-md-2 g-4">
    <div *ngFor="let recipe of recipes;"
        class="col-xl-3 col-sm-6">
        <div class="card h-100 fixed-width">
            <img src="{{recipe.imageUrl}}" class="card-img-top card-sized-image" alt="Dish Image">
            <div class="card-body card-bg">
                <h5 class="card-title text-center">{{recipe.name}}</h5>
                <p class="text-sm card-text">{{ recipe.description | truncate: 140 }}</p>
            </div>
        </div>
    </div>
</div>