<div id="fullRecipe" *ngIf="fullRecipe">
    <div class="row">
        <div class="col-12 text-center fs-2 mt-4">
            {{ fullRecipe.name }}
        </div>

        <div class="offset-lg-1 col-lg-5 mt-5 text-center">
            {{fullRecipe.instructions}} <br>
            <img src="{{fullRecipe.imageUrl}}">
        </div>
        <ul *ngFor="let recipeIngredient of fullRecipe.recipeIngredients" class="offset-lg-1 col-lg-2 col-sm-12 mt-5">
            <li>{{ recipeIngredient.amount }} {{ recipeIngredient.unit }} {{ recipeIngredient.ingredientName }}</li>
        </ul>
    </div>
</div>