<app-header [title]="headerTitle"></app-header>

<div *ngIf="(recipePagination$ | async) as recipePagination; else loading">
  <app-recipe-cards [recipes]="recipePagination.data"></app-recipe-cards>
</div>
<ng-template #loading>
  <div class="mx-md-5 mx-3">
    <div class="text-center">
      <p>
        Loading <i class="fa-solid fa-spinner fa-spin-pulse fa-xl"></i>
      </p>
    </div>
  </div>
</ng-template>
<div *ngIf="(recipePagination$ | async) as recipePagination">

  <app-pagination [totalCount]="recipePagination.totalCount" [currentPageNumber]="recipePagination.currentPageNumber"
    [itemsPerPage]="recipePagination.pageSize" [totalPages]="recipePagination.totalPages"
    (pageChange)="loadData($event)" (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-pagination>
</div>