.sidebar {
  background-image: url(../../../../src/assets/images/banner.jpg);
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
}

.page-tab {
  padding: 10px;
  margin: 10px;
  background-color: #ffff;
  border-radius: 8px;
  cursor: pointer;
}

.page-tab:hover {
  background-color: #69dada87; /* Change background color to white on hover */
}

.active {
  background-color: #69dada87;
}
