<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item page-tab">
            <a class="nav-link text-light" href="#">Home</a>
        </li>
        <li class="nav-item page-tab">
            <a class="nav-link text-light" href="#">Browse</a>
        </li>
        <li class="nav-item page-tab">
            <a class="nav-link text-light" href="#">Share</a>
        </li>
        <li class="nav-item page-tab">
            <a class="nav-link text-light" href="#">Your Shares</a>
        </li>
        <li class="nav-item page-tab">
            <a class="nav-link text-light" href="#">Favorites</a>
        </li>
    </ul>
</div>