<form [formGroup]="recipeForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="instructions">Instructions:</label>
        <textarea id="instructions" formControlName="instructions" class="form-control"></textarea>
    </div>
    <div formArrayName="recipeIngredients">
        
        <div *ngFor="let ingredient of recipeIngredients.controls; let i = index" class="form-group my-3">
            <div [formGroupName]="i">
                <label for="amount">Amount: </label>
                <input type="number" id="amount" formControlName="amount" />
                <label for="unit">Unit: </label>
                <input type="text" id="unit" formControlName="unit" />
                <label for="ingredientName">Ingredient: </label>
                <input type="text" id="ingredientName" formControlName="ingredientName" />
                <button class="btn btn-warning" type="button" (click)="deleteRecipeIngredient(i)">Remove</button>
            </div>
        </div>
        <button type="button" (click)="addRecipeIngredient()">+ Add another ingredient</button>
    </div>
    <input type="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)"> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div *ngIf="(createdRecipes$ | async) as createdRecipes">
    <div class="alert alert-success">Your recipe was submitted. It will be reviewed before being permanently added
        to the site.</div>
    <app-recipe-cards [recipes]="createdRecipes.data"></app-recipe-cards>
</div>