<form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm.value)">
    <div class="row">
        <div class="col-md-3">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="recipe.name" required>
        </div>
        <div class="col-md-9">
            <label for="description">Description:</label> <br>
            <textarea id="description" name="description" [(ngModel)]="recipe.description" required></textarea>
        </div>
        <div class="col-md-12">
            <label for="instructions">Instructions:</label> <br>
            <textarea id="instructions" name="instructions" [(ngModel)]="recipe.instructions" required></textarea>
        </div>
    </div>


    <!-- Recipe Ingredients (ngFor) -->
    <div *ngFor="let ingredient of recipe.recipeIngredients; let i = index; let first = first">
        <!-- Ingredient input fields -->
        <div class="row">
            <div class="col-md-2">
                <label for="amount{{i}}">Amount:</label>
                <input type="number" id="amount{{i}}" name="recipeIngredients[{{i}}].amount"
                    [(ngModel)]="ingredient.amount" required>
            </div>
            <div class="col-md-3">
                <label for="unit{{i}}">Unit:</label>
                <input type="text" id="unit{{i}}" name="recipeIngredients[{{i}}].unit" [(ngModel)]="ingredient.unit"
                    required>
            </div>
            <div class="col-md-4">
                <label for="ingredientName{{i}}">Ingredient Name:</label>
                <input type="text" id="ingredientName{{i}}" name="recipeIngredients[{{i}}].ingredientName"
                    [(ngModel)]="ingredient.ingredientName" required>
            </div>
            <div class="col-md-3">
                <button type="button" (click)="removeIngredient(i)">
                    Remove
                </button>
            </div>
            <!-- Remove button (only for additional ingredients, not the first one) -->
            
        </div>
    </div>
    <!-- Add new ingredient button -->
    <button type="button" (click)="addIngredient()">
        Add Ingredient
    </button>
    <button type="submit">
        Submit
    </button>
</form>



<div class="row">
    <button class="btn btn-primary" type="button" (click)="fileInput.click()">Choose File</button>
    <input hidden #fileInput type="file" accept=".jpg, .jpeg, .png" id="file" (change)="setFilename(fileInput.files)" />
    <label>{{ filename }}</label>
    <br />
    <button class="btn btn-primary" type="button" (click)="onSubmit(fileInput.files)">Share</button>
    <br />
    <img [src]="recipe.imageUrl" />


    <div *ngIf="(createdRecipes$ | async) as createdRecipes">
        <div class="alert alert-success">Your recipe was submitted. It will be reviewed before being permanently added
            to the site.</div>
        <app-recipe-cards [recipes]="createdRecipes.data"></app-recipe-cards>
    </div>
</div>