<app-header [title]="headerTitle"></app-header>
<div class="container">
    <form [formGroup]="recipeForm" (ngSubmit)="submit()" class="row">
        <div class="form-group col-md-3 mb-3">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control" />

            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="name?.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="name?.errors?.['maxlength']">
                    Name must be less than 100 characters.
                </div>
            </div>
        </div>
        <div class="form-group col-md-9 mb-3">
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description" class="form-control" />

            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                class="alert alert-danger mt-1">
                <div *ngIf="description?.errors?.['required']">
                    Description is required.
                </div>
                <div *ngIf="description?.errors?.['maxlength']">
                    Description must be less than 225 characters.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 mb-3">
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" formControlName="instructions" class="form-control"></textarea>

            <div *ngIf="instructions?.invalid && (instructions?.dirty || instructions?.touched)"
                class="alert alert-danger mt-1">
                <div *ngIf="instructions?.errors?.['required']">
                    Instructions are required.
                </div>
                <div *ngIf="instructions?.errors?.['maxlength']">
                    Instructions must be less than 2000 characters.
                </div>
            </div>
        </div>

        <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls; let i = index">
                <div [formGroupName]="i" class="row">
                    <div class="form-group col-2 mx-md-0">
                        <label for="amount{{i}}">Amount: </label>
                        <input type="number" id="amount{{i}}" class="form-control" formControlName="amount" />
                    </div>
                    <div class="form-group col-3 mx-3">
                        <label for="unit{{i}}">Unit: </label>
                        <input type="text" id="unit{{i}}" class="form-control" formControlName="unit" />
                    </div>
                    <div class="form-group col-4">
                        <label for="name{{i}}">Ingredient: </label>
                        <input type="text" id="name{{i}}" class="form-control"
                            formControlName="name" />
                        <div *ngIf="getIngredient(i)?.invalid && (getIngredient(i)?.dirty || getIngredient(i)?.touched)"
                            class="alert alert-danger mt-1">
                            <div *ngIf="getIngredient(i)?.errors?.['required']">
                                Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-1">
                        <br>
                        <button class="btn btn-warning" type="button" (click)="deleteIngredient(i)">
                            <i class="fa-solid fa-square-xmark fa-sm"></i>
                        </button>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="form-group">
                    <button class="btn btn-dark my-2 mb-3" type="button" (click)="addIngredient()">+ Add another
                        ingredient</button>
                </div>
                <div>
                    <input class="mb-3" type="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)">
                    <button [disabled]="!recipeForm.valid" type="submit"
                        class="btn btn-danger mt-2 form-control">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="recipeSubmitted">
        <div class="alert alert-success mt-2">Your recipe was submitted. It will be reviewed before being permanently added
            to the site.</div>
    </div>
</div>